/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  &.mat-mini-fab {
    &.mat-accent {
      color: #fff;
      background-color: rgb(52, 124, 45);
    }
    &.mat-warn {
      background-color: rgb(115, 64, 164);
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
